{% set alignment = promo_repeater.alignment %}
{% set justify = promo_repeater.justify %}

<section class="promo-repeater--full-width">
  <div class="row my-2">
    {% if promo_repeater.group_headline %}
      <h{{container_heading_type}} class="col-sm-12 my-4" id="{{ promo_repeater.group_headline | lower | sanitize }}">{{ promo_repeater.group_headline }}</h{{container_heading_type}}>
      {% set container_heading_type = container_heading_type + 1 %}
    {% elseif overall_headline and promo_repeater.group_headline == null %}
      {% set container_heading_type = ( content.heading_type + 1 ) %}
    {% else %}
      {# Default stand-alone heading as H3, if no overall headline and/or group headline set. #}
      {% set container_heading_type = 3 %}
    {% endif %}

    <div class="d-flex flex-wrap {{ alignment }} {{ justify }}">
      {% for repeater_item in promo_repeater.promo_repeater_group %}
        {% set image = Image(repeater_item.image) %}
        <div class="col-sm-12 mb-3">
          <div class="card p-0">
            <img src="{{ image.src }}" class="ut-img--fluid" alt="{{ image.alt }}" />

            <div class="card-body">
              {% if cta_link and repeater_item.heading %}
                <a target="{{ repeater_item.cta_link.target }}" href="{{ repeater_item.cta_link.url }}" title="{{ repeater_item.cta_link.title }}"><h{{container_heading_type + 1}} class="card-title">{{ repeater_item.heading }}</h{{container_heading_type + 1}}></a>
              {% elseif repeater_item.heading and cta_link != null %}
                <h{{container_heading_type + 1}} class="card-title">{{ repeater_item.heading }}</h{{container_heading_type + 1}}>
              {% endif %}

              {% if repeater_item.wysiwyg %}
                {{ repeater_item.wysiwyg }}
              {% endif %}

              {% if repeater_item.cta_link %}
                <a target="{{ repeater_item.cta_link.target }}" href="{{ repeater_item.cta_link.url }}" title="{{ repeater_item.cta_link.title }}" class="ut-btn">{{ repeater_item.cta_link.title }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
